﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "SystemCompany";
}

<div style="display: flex; justify-content: center; flex-direction: column; text-align: center;">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="/images/logo.png" width="300px" /></a>

    <h1>Swedish liquor reseller</h1>
    @if (!SignInManager.IsSignedIn(User))
    {
        <h2 class="text-danger"><b>Please log in to be able to purchase our alcohol!</b></h2>
    }
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Are you 20 years old?</h5>

            </div>
            <div class="modal-body">
                <p class="modal-text">This page contains information about alcohol. You need to be 20 years old or older
                    to be able to visit and purchase at this page.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="minor()">No, I am not 20</button>
                <button type="button" class="btn btn-primary" onclick="confirmAge()" data-bs-dismiss="modal">Yes, I am
                    over 20</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        if (!sessionStorage.getItem('isOver20')) { //sessionStorage > localStorage instead of storing the value until manually removed, so alert shows up again after closing the browser and visiting the website again
            $('#staticBackdrop').modal('show');
        }
    };

    function minor() {
        window.location.href = "@Url.Action("Minor", "Home")";
    }

    function confirmAge() {
        sessionStorage.setItem('isOver20', 'true');
    }
</script>
