﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "SystemCompany";
}

<div style="display: flex; justify-content: center; flex-direction: column; text-align: center;">

    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="/images/logo.png" width="300px" /></a>

    <h1>Swedish liquor reseller</h1>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Are you 20 years old?</h5>

            </div>
            <div class="modal-body">
                <p class="modal-text">This page contains information about alcohol. You need to be 20 years old or older
                    to be able to visit and purchase at this page.</p>
            </div>
            <div class="modal-footer">
                <!-- Button 1 (first action) -->
                <button type="button" class="btn btn-primary" onclick="actionOne()">No, I am not 20 year</button>
                <!-- Button 2 (second action) -->
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes, I am over 20 year</button>

            </div>
        </div>
    </div>
</div>

<script>

    window.onload = function () {
        $('#staticBackdrop').modal('show');
    };

    // Button 1 Action
    function actionOne() {
        window.location.href = "@Url.Action("Minor", "Home")";
    }

</script>
