<div class="container my-5">
    <h1 class="text-center mb-4">Your Cart</h1>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-end">Price</th>
                    <th scope="col" class="text-end">Total</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <img src="https://media.istockphoto.com/id/1472933890/vector/no-image-vector-symbol-missing-available-icon-no-gallery-for-this-moment-placeholder.jpg?s=612x612&w=0&k=20&c=Rdn-lecwAj8ciQEccm0Ep2RX50FCuUJOaEM8qQjiLL0="
                                alt="" style="height: 50px; width: auto; object-fit: contain; margin-right: 10px;">
                            <span>Product Name</span>
                        </div>
                    </td>
                    <td class="text-center align-middle">
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-danger btn-sm me-2">-</button>
                            <p class="m-0">10</p>
                            <button class="btn btn-success btn-sm ms-2">+</button>
                        </div>
                    </td>
                    <td class="text-end align-middle">10 SEK</td>
                    <td class="text-end align-middle">100 SEK</td>
                    <td class="text-center align-middle">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3" class="text-end">Total:</th>
                    <th class="text-end">100 SEK</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="d-flex justify-content-end mt-4">
        <a asp-action="Checkout" class="btn btn-success">Proceed to Checkout</a>
    </div>

</div>
