@model ProductEditVm

<h1>Edit product</h1>

<img src="@Model.Product.Picture" alt="Alcohol" width="50px" height="auto" class="my-5" />
<h2>Edit the product</h2>

<form asp-action="Edit" method="post">
    <input type="Hidden" asp-for="Product.Id" />
    <div class="form-group">
        <label asp-for="Product.Name" class="control-label"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Description" class="control-label"></label>
        <input asp-for="Product.Description" class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price" class="control-label"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Volume" class="control-label"></label>
        <input asp-for="Product.Volume" class="form-control" />
        <span asp-validation-for="Product.Volume" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Procent" class="control-label"></label>
        <input asp-for="Product.Procent" class="form-control" />
        <span asp-validation-for="Product.Procent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Picture" class="control-label"></label>
        <input asp-for="Product.Picture" class="form-control" />
        <span asp-validation-for="Product.Picture" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Product.CategoryId" class="control-label">Category</label>
        <select asp-for="Product.CategoryId" class="form-control">
            <option value="">-- Select Category --</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>
